{% set data =  hostvars | get_log_data %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志巡检-{{ data.time }}</title>
</head>
<body>
<table border="1" width="100%">
    <thead>
    <tr>
        <th>Server</th>
        <th>Ssh Failed IP</th>
        <th>Ssh Failed Count</th>
    </tr>
    </thead>
    <tbody align="center">
        {% for key, value in data.failed_ssh_item %}
        <tr>
            <td>{{key}}</td>
            <td>
            {% for i in value %}
            {{i}}<br>
            {% endfor %}
            </td>
            <td>
            {% for j in value %}
            {{value.get(j)}}<br>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>